.dashboard-appointment {
  display: flex !important;
  min-height: 100vh !important; /* Full height */
  background-color: #f0e6dc !important; /* Override global background */
  font-family: "Rubik";
}

.dashboard-appointment nav {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.dashboard-appointment nav button {
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 10px;
  margin: 0 2px;
  background-color: #333;
  color: white;
  font-weight: 600;
  position: relative;
}

.dt-info {
  font-size: 15px;
  padding-top: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: auto;
}

/* For desktop screens */
@media only screen and (min-width: 1200px) {
  /* Padding for the main content with increased specificity */
  .dashboard-appointment .main-content {
    flex-grow: 1 !important;
    background-color: #caa971 !important; /* Maintain background */
    padding: 20px !important;
    margin-left: 240px !important; /* Add margin to account for the fixed sidebar */
  }
}

/* For laptop screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Padding for the main content with increased specificity */
.dashboard-appointment .main-content {
  flex-grow: 1 !important;
  background-color: #caa971 !important; /* Maintain background */
  padding: 20px !important;
  margin-left: 240px !important; /* Add margin to account for the fixed sidebar */
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 /* Padding for the main content with increased specificity */
.dashboard-appointment .main-content {
  flex-grow: 1 !important;
  background-color: #caa971 !important; /* Maintain background */
  padding: 20px !important;
}
}

@media only screen and (max-width: 767px) {
  .dashboard-appointment .main-content {
    flex-grow: 1 !important;
    background-color: #caa971 !important; /* Maintain background */
    padding: 20px !important;
  }
}

.appointments-dashboard-box {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 18px 38px;
}

.appointment-reports {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.appointment-reports .appointment-list-table {
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: 10px 0;
  overflow: hidden;
}

.appointment-reports .appointment-list-table th {
  background-color: #d9d9d9;
  font-weight: 500;
  border: 1px solid #333333;
}

.appointment-reports .appointment-list-table td {
  background-color: white;
  font-weight: 400;
  border: 1px solid #333333;
}

#appointmentsTable {
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
}

#appointmentsTable th {
  background-color: #d9d9d9;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

#appointmentsTable td {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

.dt-length {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.dt-search {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.dt-search input {
  border-radius: 10px;
  margin-left: 5px;
  border: 1px solid #beb9b9;
}

.generate-report-button {
  border-radius: 10px;
  background-color: #5581bf;
  color: white;
  font-size: 15px;
  padding: 15px 12px;
  margin: 0 13px;
  border: 1px solid #5581bf;
}

.generate-report-button:hover {
  background-color: #304768;
  color: white;
  border: 1px solid #304768;
}

.dashboard-appointment .badge {
  font-weight: 400;
  font-size: 13px;
}

.dashboard-appointment .actions-button .dropdown-toggle {
  font-size: 15px;
}

.dashboard-appointment .actions-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.admin-appointment-header {
  color: white;
}

.admin-appointment-title {
  font-weight: 400;
  margin: 0 0 0 85px;
  font-size: 25px;
}

.admin-appointment-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 13px 20px;
}

.admin-appointment-details-box .first-details,
.second-details {
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.admin-appointment-details-box .first-details strong,
.second-details strong {
  font-weight: 500;
  color: #c89d53;
}

.admin-appointment-details-box .postmortem-title,
.admin-appointment-user {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #8b5e11;
  text-decoration: underline;
}

/* .dashboard-appointment .dt-info, nav {
    position: relative;
    bottom: 0;
} */
