/* Container for the snapping sections */
.snapping-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.homepage-article-header {
  color: white;
}

.homepage-article-title {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.article-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 35px 20px;
}

.article-details-box p {
  font-size: 14px;
  text-align: justify;
}

/*FONT*/
.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.action-button {
  font-family: "Rubik";
  font-weight: 600;
  font-size: x-large;
  color: #fdf9aa;
  background-color: #18020c;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 4px 2px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #282526;
  color: white;
}

/* General styling for each section */
.home-snap-section {
  scroll-snap-align: start;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #18020c;
  text-align: center;
  flex-direction: column;
}

.homepage-container {
  height: auto;
}

/* Specific styles for each section */
.section1 {
  background-image: url("homepage.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Rubik";
}

.section2 {
  background-color: #caa971;
}

.title-section {
  scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.our-services-title {
  margin-top: 35px;
  font-weight: 700;
}

/* General styling */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.container {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 20px;
  /* overflow: auto; */
}

.section2 .container {
  margin: 30px;
  height: auto;
}

.homecard {
  height: 575px;
  width: 30%;
  background-color: #e3d18d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.homecard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.homecard:hover {
  transform: scale(1.1);
}

.homecard h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.homecard p {
  margin-top: 5px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
  font-family: "Rubik", sans-serif;
}

.homecard button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 20px auto;
  background-color: #18020c;
  color: #e3d18d;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.homecard button:hover {
  background-color: #282526;
  color: white;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .homecard {
    width: 45%; /* Adjust card width for medium-sized screens */
  }
}

@media (max-width: 768px) {
  .homecard {
    width: 100%; /* Stack cards vertically for smaller screens */
    margin-bottom: 20px; /* Add spacing between stacked cards */
  }

  .container {
    height: auto; /* Allow the container height to grow with content */
  }
}

.section3 {
  background-color: #caa971;
}

.section4 {
  background-color: #caa971;
}

.section5 {
  background-color: #caa971;
}

/* General styling */
.homepage-row {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  margin: 0px auto 35px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 15px;
}


/* For desktop screens */
@media only screen and (min-width: 1200px) {
  .grid {
    height: 275px;
    width: 30%;
    background-color: #e3d18d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .grid img {
    width: 25%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .grid h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  
  .grid p {
    margin: 0px;
    font-size: 14px;
    line-height: 1.5;
    padding: 3px;
    font-family: "Rubik", sans-serif;
  }

  .gallery-images .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4d4642;
    border-radius: 20px;
    background-color: #e3d08d;
    filter: drop-shadow(0 0 0.75rem black);
    text-align: center;
    width: 850px;
    max-height: 500px;
    margin: 15px auto;
  }

  .thumbnails {
    display: flex;
    margin-top: 10px;
    align-items: center;
    overflow: scroll;
    width: 845px;
  }
}

/* For laptop screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid {
    height: 275px;
    width: 30%;
    background-color: #e3d18d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .grid img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .grid h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  
  .grid p {
    margin: 0px;
    font-size: 13px;
    line-height: 1.5;
    padding: 3px;
    font-family: "Rubik", sans-serif;
  }

  .gallery-images .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4d4642;
    border-radius: 20px;
    background-color: #e3d08d;
    filter: drop-shadow(0 0 0.75rem black);
    text-align: center;
    width: 850px;
    max-height: 500px;
    margin: 15px auto;
  }

  .thumbnails {
    display: flex;
    margin-top: 10px;
    align-items: center;
    overflow: scroll;
    width: 845px;
  }
}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid {
    height: 275px;
    width: 30%;
    background-color: #e3d18d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .grid img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .grid h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  
  .grid p {
    margin: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px;
    font-family: "Rubik", sans-serif;
  }

  .gallery-images .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4d4642;
    border-radius: 20px;
    background-color: #e3d08d;
    filter: drop-shadow(0 0 0.75rem black);
    text-align: center;
    width: 673px;
    max-height: 500px;
    margin: 15px auto;
  }

  .thumbnails {
    display: flex;
    margin-top: 10px;
    align-items: center;
    overflow: scroll;
    width: 647px;
  }
}

/* For mobile screens */
@media only screen and (max-width: 767px) {
  .grid {
    height: 275px;
    width: 45%;
    background-color: #e3d18d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .grid img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
  }
  
  .grid h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  
  .grid p {
    margin: 0px;
    font-size: 10px;
    line-height: 1.5;
    padding: 3px;
    font-family: "Rubik", sans-serif;
  }

  .gallery-images .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4d4642;
    border-radius: 20px;
    background-color: #e3d08d;
    filter: drop-shadow(0 0 0.75rem black);
    text-align: center;
    width: 315px;
    max-height: 500px;
    margin: 15px auto;
  }

  .thumbnails {
    display: flex;
    margin-top: 10px;
    align-items: center;
    overflow: scroll;
    width: 315px;
  }

  .images-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}


/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .column {
    width: 45%; /* Adjust card width for medium-sized screens */
  }
}

@media (max-width: 768px) {
  .column {
    width: 100%; /* Stack columns vertically for smaller screens */
    margin-bottom: 20px; /* Add spacing between stacked columns */
  }

  .row {
    height: auto; /* Allow the row height to grow with content */
  }
}

.section6 {
  background-color: #caa971;
}
.section7 {
  background-color: #caa971;
}
.section7 {
  background-color: #caa971;
}

/* General styling */
.blogs-articles-title {
  margin-top: 30px;
  font-weight: 700;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.blogs {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-evenly;
  margin: 30px 30px 45px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  text-align: left;
  gap: 10px;
}

.article {
  height: 480px;
  width: 30%;
  background-color: #e3d18d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.article h2 {
  margin: 10px 10px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.article p {
  /* margin-top: 5px; */
  font-size: 12px;
  line-height: 1.5;
  padding: 10px;
  font-family: "Rubik", sans-serif;
}

.article button {
  width: 150px;
  height: 30px;
  display: block;
  margin: 20px;
  background-color: #18020c;
  color: #e3d18d;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.article button:hover {
  background-color: #282526;
  color: white;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .article {
    width: 45%; /* Adjust article width for medium-sized screens */
  }
}

@media (max-width: 768px) {
  .article {
    width: 100%; /* Stack articles vertically for smaller screens */
    margin-bottom: 20px; /* Add space between stacked articles */
  }

  .blogs {
    height: auto; /* Let the blogs container expand to fit content */
  }
}

.section8 {
  background-color: #caa971;
}

/* Gallery section styling */
.our-gallery-title {
  margin-top: 45px;
  font-weight: 700;
}

.gallery-section {
  background-color: #caa971;
  margin: 20px;
  text-align: center;
  font-family: 'Rubik';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.gallery-header {
  background-color: #caa971;
  padding: 10px;
}

.gallery-header p {
  font-size: 16px;
  line-height: 1.6;
  color: #18020c;
  font-family: 'Rubik';
  text-align: center;
  text-justify: inter-word;
  margin-left: 100px;
  margin-right:100px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .gallery-images {
    gap: 20px; /* Reduce the gap between images on tablets */
  }

  .gallery-images img {
    width: 250px;
    height: 250px; /* Smaller images on tablets */
  }
}

@media (max-width: 480px) {
  .gallery-header h2 {
    font-size: 20px; /* Smaller title font for mobile screens */
  }

  .gallery-header p {
    font-size: 14px;
  }

  .gallery-images {
    gap: 10px; /* Minimal gap on mobile */
  }

  .gallery-images img {
    width: 100%; /* Full-width images on mobile */
    max-width: 300px; /* Ensure images don’t get too large on smaller devices */
  }
}

/* Main section container */
.care-section {
  display: flex;
  align-items: center;
  padding: 70px;
  background-color: #caa971;
  font-family: "Rubik";
}

/* Image container */
.images-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* Overlapping images */
.rounded-image {
  width: 250px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  border-radius: 150px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  
}

/* Position each image with an offset to create overlap */
.rounded-image:first-child {
  left: -10px; /* Move the first image slightly to the left */
  top: -250px; /* Move the first image slightly up */
  z-index: 0; /* Make it appear above the second image */
  outline:3px solid #FDF9AA;
  outline-offset: 40px;
 
}

.rounded-image:last-child {
  left: 150px; /* Move the second image slightly to the right */
  top: -150px; /* Move the second image slightly down */
  outline:3px solid #FDF9AA;
  outline-offset: 40px;
 
}

/* Text container */
.text-container {
  flex: 1;
  padding: 20px;
  color: #18020c;
  max-width: 1000px;
  text-align: justify;
}

.text-container h3 {
  font-family: 'Rubik';
  font-size: 23px;
  font-weight: 700;
  color: #18020c;
  margin-bottom: 15px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
  color:#18020c;
  font-family: 'Rubik';
  text-align: justify;
  text-justify: inter-word;

}

.carousel-caption-bottom {
  font-family: 'Rubik';
  color: #FCF2D8;
}
