/* Common navbar styles */

nav {
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  color: #fcf2d8;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 1rem; /* Padding to ensure clickable area */
}

nav ul li a .nav-label {
  margin-left: 0.5rem;
}

/* Sidebar styles */
.sidebar-container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  z-index: 999; /* Ensure it's above other content */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  display: block; /* Ensure each link is on its own line */
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s; /* Add smooth transition for hover effect */
}

.sidebar ul li a:hover {
  background-color: #444; /* Darker background on hover */
  color: #ffcc00; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Adjust the content area to account for sidebar width */
.content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 1rem;
  overflow: auto;
}

/* Styles for top navbar */
.top-navbar {
  background-color: #2b0a0a; /* Dark background color */
      color: #e5e5d6; /* Light text color */
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

/* Adjust the position of the brand logo */
.top-navbar img {
  height: 35px;
  margin-right: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  color: #e5e5d6; /* Same light text color */
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}


/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown title */
.dropdown-title {
  cursor: pointer;
  color: #e5e5d6;
  text-decoration: none;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2b0a0a;
  padding: 10px 0;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #e5e5d6;
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  font-family: Arial, sans-serif;
}



/* Ensure the content area is below the navbar */
.content-user {
  padding: 1rem;
  overflow: auto;
}

/* Centering navigation links */
.centeredNav {
  display: flex;
  align-items: center;
}

.centeredNav li {
  margin: 0 1rem;
}

/* Make sure the active link is highlighted */
.active a {
  font-weight: bold;
}

/* Hover effect for top navbar links */
.centeredNav li a {
  transition: background-color 0.3s, transform 0.2s; /* Add smooth transition for hover effect */
}

.centeredNav li a:hover {
  background-color: #444; /* Darker background on hover */
  color: #ffcc00; /* Change text color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Add this CSS rule to define hover effect for buttons */
button:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.1); /* Increase size by 10% */
}

/* Apply hover effect to the label wrapping the checkbox input */
.checkbox:hover {
  background-color: #ddd;
  color: black;
}

/* Update the CSS selector to target the active link */
nav ul.centeredNav li.active a:hover,
nav ul.centeredNav li.active a {
  background-color: #ddd;
  color: black;
  transform: scale(1.1); /* Increase size by 10% */
  border-radius: 15px;
}

.no-transition {
  cursor: pointer;
  transition: none !important; /* Disable all transitions */
}

.notification-container {
  position: relative;
}

.notification-dropdown {
  color: black;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f7cc4c;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 10px;
  width: 200px;
  width: 300px; /* Set the width of the dropdown */
  max-height: 400px; /* Set a fixed max height */
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 20px;
}

.notification {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}

.notification.read {
  background-color: #d1ed96;
  border-radius: 10px;
}

.notification.unread {
  background-color: #f5f095;
  border-radius: 10px;
}

.notification-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.notification-info h4 {
  color: #795548;
  font-weight: 600;
  text-decoration: underline;
}

.notification-info p {
  font-weight: 300;
}

.notification-info small {
  font-weight: 500;
  color: #8b3c11;
}

.notification-buttons {
  padding-top: 10px;
}

.notification-buttons button{
  margin: 0px 5px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  padding: 5px 10px;
}

.notification.unread .notification-buttons .read-button {
  background-color: rgb(41, 216, 41);
  color: black;
}

.notification.unread .notification-buttons .read-button:hover {
  background-color: rgb(31, 193, 31);
  color: black;
}

.notification-buttons .dismiss-button {
  background-color: rgb(183, 32, 32);
  color: white;
}

.notification-buttons .dismiss-button:hover {
  background-color: rgb(143, 25, 25);
  color: white;
}

.notify-button {
  border: none;
  background-color: #2b0a0a;
}

.notify-button:hover {
  border: none;
  background-color: #2b0a0a;
}

.notify-button .bell-icon {
  width: 20px;
  height: auto;
  background-color: #2b0a0a;
  color: #fdf9aa;
}

.notify-button .bell-icon:hover {
  background-color: #2b0a0a;
  color: #fdf9aa;
}

.notification-dropdown .no-notif {
  text-align: center;
  margin: 5px;
  font-weight: 400;
}

.red-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #2b0a0a;
}

.login-button {
  /* background-color: #f7e6a6; 
  color: black;
  padding: 8px 15px; */
  border: none;
  /* border-radius: 20px; */
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.login-button-nav {
  background-color: #f7e6a6;
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.notification-dropdown::-webkit-scrollbar {
  width: 8px;
}

.notification-dropdown::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.notification-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
