.report {
  display: flex !important;
  min-height: 100vh !important; /* Full height */
  background-color: #f0e6dc !important; /* Override global background */
  font-family: "Rubik";
}

/* For desktop screens */
@media only screen and (min-width: 1200px) {
  /* Padding for the main content with increased specificity */
  .report .main-content {
    flex-grow: 1 !important;
    background-color: #caa971 !important; /* Maintain background */
    padding: 20px !important;
    margin-left: 240px !important; /* Add margin to account for the fixed sidebar */
  }
}

/* For laptop screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Padding for the main content with increased specificity */
.report .main-content {
  flex-grow: 1 !important;
  background-color: #caa971 !important; /* Maintain background */
  padding: 20px !important;
  margin-left: 240px !important; /* Add margin to account for the fixed sidebar */
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 /* Padding for the main content with increased specificity */
.report .main-content {
  flex-grow: 1 !important;
  background-color: #caa971 !important; /* Maintain background */
  padding: 20px !important;
}
}

@media only screen and (max-width: 767px) {
  .report .main-content {
    flex-grow: 1 !important;
    background-color: #caa971 !important; /* Maintain background */
    padding: 20px !important;
  }
}

.report-dashboard-box {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 18px 38px;
  margin-bottom: 20px;
}

.header-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
}

.header-container h1 {
  flex-grow: 1; /* Allow the heading to grow and take available space */
  text-align: center; /* Center the heading text */
  margin: 0; /* Remove default margins */
}

#reportTable {
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
}

#reportTable th {
  background-color: #d9d9d9;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

#reportTable td {
  background-color: white;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.report nav {
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.report nav button {
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 10px;
  margin: 0 2px;
  background-color: #333;
  color: white;
  font-weight: 600;
  position: relative;
}

.download-pdf-button {
  background-color: #65c467;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  font-size: 13px;
  width: 30px;
  height: 27px;
}

.download-pdf-button:hover {
  background-color: #63bb64;
}

.delete-report-button {
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  width: 30px;
  height: 27px;
}

.delete-report-button:hover {
  background-color: #b02a37;
  color: white;
}