.services {
  background-color: #caa971;
  font-family: "Rubik";
  scroll-snap-align: start;
  height: auto;
  padding: 1rem;
  overflow: visible;
}

.services-title {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  color: #2b0a0a;
}

.services-border {
  display: block;
  width: 350px;
  height: 3px;
  background: #18020c;
  margin: 8px auto 65px;
}

.services-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: auto;
  background-color: #FCF2D8;
  font-family: "Rubik";
}

.services-section {
  height: auto;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.services-section .funeral-pack-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
}

.card-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

 .card {
  background-color: #e3d18d;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto; 
}

.services-section img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.view-service-button,
.return-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: center;
}

.view-service-button:hover,
.return-button:hover {
  background-color: #0056b3;
}

.service-details {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
  }

  .card {
    height: auto; /* Allow height to adjust dynamically */
  }

  h3 {
    font-size: 1.2rem;
  }

  .view-service-button,
  .return-button {
    font-size: 0.9rem;
  }
}
.casket-3d {
  width: 100%;
  height: 400px; /* Adjust as needed */
  background-color: #f0f0f0; /* Optional: for better visibility */
}

.services-modal-box .modal-description {
  text-align: center;
  margin: auto;
}

.services-modal-box .show-3d-button {
  display: block;
  margin: auto;
  background-color: #18020C;
  color: #FDF9AA;
  font-weight: 500;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}

.services-modal-box .show-3d-button:hover {
  background-color: #433b3e;
  color: #FDF9AA;
}

.services-modal-box .services-inclusion-select {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.services-modal-box .modal-buttons label {
  margin-right: 5px;
}

.services-modal-box .modal-buttons select {
  border-radius: 10px;
  text-align: center;
  background-color: aliceblue;
}

.modal-navigation {
  margin: 5px auto;
  display: block;
}

.modal-navigation button {
  border-radius: 10px;
  background-color: #FDF9AA;
  color: #18020C;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 1px 20px;
  margin: 5px 2px;
}

.inclusion-title {
  text-align: center;
  color: #FDF9AA;
  font-size: 25px;
}

/* For desktop screens */
@media only screen and (min-width: 1200px) {  
  .services-section .view-package-button {
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #18020C;
    color: #FDF9AA;
    font-weight: 500;
    display: block;
    margin: 5px auto;
    padding: 5px 0;
  }

  .services-section h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .services-section p {
    font-size: 14px;
    margin: 5px 0;
  }

  .services-section .funeral-description {
    text-align: justify;
    margin-top: 10px;
    margin-left: 100px;
    margin-right:100px;
    font-size: 15px;
  }

  .services-modal-box .funeral-package-details {
    display: flex;
    flex-direction: row;
    font-family: "Rubik";
    align-items: center;
  }
  
  .services-modal-box .funeral-desc-inclusion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-description h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
  }
  
  .modal-description p {
    font-size: 14px;
  }
  
  .modal-description .package-desc {
    margin: 15px 30px 25px;
    text-align: justify;
  }
  
  .modal-description .inclusion-list {
    margin: 0px 30px 25px;
    text-align: justify;
    font-size: 11px;
  }

  .services-modal-box img {
    width: 42%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .services-modal-box {
    display: block;
    border: 1px solid #4d4642; 
    border-radius: 20px; 
    background-color:#FCF2D8;
    padding: 30px 25px;
  }
}

/* For laptop screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .services-section .view-package-button {
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #18020C;
    color: #FDF9AA;
    font-weight: 500;
    display: block;
    margin: 5px auto;
    padding: 5px 0;
  }

  .services-section h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .services-section p {
    font-size: 14px;
    margin: 5px 0;
  }

  .services-section .funeral-description {
    text-align: justify;
    margin-top: 10px;
    margin-left: 100px;
    margin-right:100px;
    font-size: 15px;
  }

  .services-modal-box .funeral-package-details {
    display: flex;
    flex-direction: row;
    font-family: "Rubik";
    align-items: center;
  }
  
  .services-modal-box .funeral-desc-inclusion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-description h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
  }
  
  .modal-description p {
    font-size: 14px;
  }
  
  .modal-description .package-desc {
    margin: 15px 30px 25px;
    text-align: justify;
  }
  
  .modal-description .inclusion-list {
    margin: 0px 30px 25px;
    text-align: justify;
    font-size: 11px;
  }

  .services-modal-box img {
    width: 42%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .services-modal-box {
    display: block;
    border: 1px solid #4d4642; 
    border-radius: 20px; 
    background-color:#FCF2D8;
    padding: 30px 25px;
  }
}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .services-section .view-package-button {
    width: 50%;
    font-size: 13px;
    border-radius: 10px;
    background-color: #18020C;
    color: #FDF9AA;
    font-weight: 500;
    display: block;
    margin: 5px auto;
    padding: 5px 0;
  }

  .services-section h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .services-section p {
    font-size: 14px;
    margin: 5px 0;
  }

  .services-section .funeral-description {
    text-align: justify;
    margin-top: 10px;
    margin-left: 100px;
    margin-right:100px;
    font-size: 15px;
  }

  .services-modal-box .funeral-package-details {
    display: flex;
    flex-direction: row;
    font-family: "Rubik";
    align-items: center;
  }
  
  .services-modal-box .funeral-desc-inclusion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-description h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
  }
  
  .modal-description p {
    font-size: 14px;
  }
  
  .modal-description .package-desc {
    margin: 15px 30px 25px;
    text-align: justify;
  }
  
  .modal-description .inclusion-list {
    margin: 0px 30px 25px;
    text-align: justify;
    font-size: 11px;
  }

  .services-modal-box img {
    width: 42%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .services-modal-box {
    display: block;
    border: 1px solid #4d4642; 
    border-radius: 20px; 
    background-color:#FCF2D8;
    padding: 30px 25px;
  }
}

/* For mobile screens */
@media only screen and (max-width: 767px) {
  .services-section .view-package-button {
    width: 50%;
    font-size: 12px;
    border-radius: 10px;
    background-color: #18020C;
    color: #FDF9AA;
    font-weight: 500;
    display: block;
    margin: 5px auto;
    padding: 5px 0;
  }

  .services-section h3 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .services-section p {
    font-size: 10px;
    margin: 5px 0;
  }

  .services-section .funeral-description {
    text-align: justify;
    margin: 10px 20px 0px;
    font-size: 15px;
  }

  .services-modal-box .funeral-package-details {
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
    align-items: center;
  }
  
  .services-modal-box .funeral-desc-inclusion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal-description h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 23px;
    text-decoration: underline;
  }
  
  .modal-description p {
    font-size: 11px;
  }
  
  .modal-description .package-desc {
    margin: 15px 0px 25px;
    text-align: justify;
  }
  
  .modal-description .inclusion-list {
    margin: 0px 0px 10px;
    text-align: justify;
    font-size: 11px;
  }

  .services-modal-box img {
    width: 65%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .services-modal-box {
    display: block;
    border: 1px solid #4d4642; 
    border-radius: 20px; 
    background-color:#FCF2D8;
    padding: 12px 25px;
  }
}

canvas {
  height: 680px;
  background-color: #50483a;
  border-radius: 5px;
  margin-top: 15px;
}