.terms {
  background-color: #caa971;
  font-family: "Rubik";
  scroll-snap-align: start;
  height: auto;
  padding: 1rem;
  overflow: visible;
}

.terms-title {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  text-align: center;
}

.terms-border {
  display: block;
  width: 350px;
  height: 3px;
  background: #18020c;
  margin: 8px auto 65px;
}

/* For desktop screens */
@media only screen and (min-width: 1200px) {
  .body .welcome-terms {
    padding: 40px 165px 0px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
  
  .body .welcome-terms p {
    margin-bottom: 0px;
  }

  .body .end-terms {
    padding: 10px 165px 40px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
}

/* For laptop screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .body .welcome-terms {
    padding: 40px 125px 0px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
  
  .body .welcome-terms p {
    margin-bottom: 0px;
  }

  .body .end-terms {
    padding: 10px 125px 40px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
}

/* For tablet screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body .welcome-terms {
    padding: 40px 100px 0px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
  
  .body .welcome-terms p {
    margin-bottom: 0px;
  }

  .body .end-terms {
    padding: 10px 100px 40px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
}

/* For mobile screens */
@media only screen and (max-width: 767px) {
  .body .welcome-terms {
    padding: 40px 43px 0px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
  
  .body .welcome-terms p {
    margin-bottom: 0px;
  }

  .body .end-terms {
    padding: 10px 43px 40px;
    font-size: 18px;
    font-family: 'Rubik';
    text-align: justify;
  }
}

.no-terms {
  text-align: center;
  margin: 40px auto;
  font-size: 20px;
}

.accordion-item {
  background-color: #e3d18d;
  margin: 10px;
}

.accordion-item button {
  background-color: #e3d18d;
  color: #8b5e11;
  font-weight: 500;
  font-size: 20px;
}

.accordion-body {
  color: #18020c;
  font-size: 15px;
  text-align: justify;
}

.body {
  min-height: 60vh !important; /* Full height */
  font-family: 'Rubik';
  background-color: #FCF2D8;
  height: auto;
}
