.transaction {
  display: flex !important;
  min-height: 100vh !important; /* Full height */
  background-color: #f0e6dc !important; /* Override global background */
  font-family: "Rubik";
}

.transaction .main-content {
  flex-grow: 1 !important;
  background-color: #caa971 !important; /* Maintain background */
  padding: 20px !important;
  margin-left: 240px !important; /* Add margin to account for the fixed sidebar */
}

.transaction-dashboard-box {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 18px 38px;
  margin-bottom: 10px;
}

.transaction-generate-report-button {
  border-radius: 10px;
  background-color: #5581bf;
  color: white;
  font-size: 15px;
  padding: 7px 12px;
  display: block;
  margin: 15px auto;
  border: 1px solid #5581bf;
}

.transaction-generate-report-button:hover {
  background-color: #304768;
  color: white;
  border: 1px solid #304768;
}

.header-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
}

.header-container h1 {
  flex-grow: 1; /* Allow the heading to grow and take available space */
  text-align: center; /* Center the heading text */
  margin: 0; /* Remove default margins */
}

.add-transaction {
  cursor: pointer;
  margin-left: 20px;
}

#transactionTable {
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
}

#transactionTable th {
  background-color: #d9d9d9;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

#transactionTable td {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

.transaction nav {
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.transaction nav button {
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 10px;
  margin: 0 2px;
  background-color: #333;
  color: white;
  font-weight: 600;
  position: relative;
}

.transaction-header {
  color: white;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width */
}

.transaction-title {
  flex-grow: 1; /* Allow the title to grow and take available space */
  text-align: center; /* Center the title text */
  font-weight: 400;
  font-size: 25px;
  margin: 0; /* Remove default margins */
}
.transaction-particulars-title {
  flex-grow: 1;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.transaction-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 35px 20px;
}

.transaction-details-box .first-details,
.second-details {
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.transaction-details-box .first-details strong,
.second-details strong {
  font-weight: 500;
  color: #c89d53;
}

.particulars-title,
.admin-appointment-user {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #8b5e11;
  text-decoration: underline;
}

.transaction-details-box .first-details,
.financial-summary-details {
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.transaction-details-box .first-details strong,
.second-details strong,
.financial-summary-details strong {
  font-weight: 500;
  color: #c89d53;
}

.transaction-details-box .particulars-title,
.admin-transaction-user,
.financial-summary-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #8b5e11;
  text-decoration: underline;
}

.transaction-details-box .second-details th {
  color: #523709;
  font-weight: 800;
  text-decoration: underline;
  padding: 0 25px;
}

.transaction-details-box .second-details {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.transaction .actions-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.transaction-buttons {
  margin: 10px 0;
}

.edit-transaction-button {
  background-color: #fdf9aa;
  color: black;
  border: 1px solid #6a6868;
  font-size: 15px;
  display: block;
}

.edit-transaction-button:hover {
  background-color: #caa971;
  color: #4d4642;
  border: 1px solid #caa971;
}

/* Modals */

.particulars-table {
  margin: 20px auto;
}

.particulars-table th {
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
  font-weight: 500;
  color: #4d4642;
}

.particulars-table .amount-input-details {
  background-color: #ebebeb;
  border: 1px solid #6a6868;
  color: #4d4642;
  resize: none;
  margin-top: 30px;
  margin-left: 10px;
}

.particulars-table .label-title {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-top: 10px;
}

.total-amount {
  padding: 10px 10px;
}

.deposit-input {
  background-color: #ebebeb;
  border: 1px solid #6a6868;
  color: #4d4642;
}

.balance {
  padding-top: 10px;
}

.add-transaction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* temporary css - tanggalin if natanggal na yung button sa js  */
.add-button {
  pointer-events: none;
  cursor: not-allowed;
  background: transparent;
  border: none !important;
}

.radio-inline {
  display: flex;
  gap: 10px; /* Adds spacing between the buttons */
  align-items: center; /* Aligns the label and button vertically */
}
