.user-dashboard {
  background-color: #caa971;
  font-family: "Rubik";
  scroll-snap-align: start;
  height: auto;
  padding: 1rem;
  overflow: auto;
}

.user-dashboard .card {
  background-color: #fcf2d8;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  width: 450px;
  margin: auto;
}

.user-title-box {
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 18px 38px;
  margin-bottom: 20px;
}

.user-cards-total .card-header {
  background-color: white; /* Adjust background color if needed */
  color: #8b5e11;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid #beb9b9;
  width: 100%;
}

.user-dashboard-calendar .card-header {
  background-color: #f8f9fa; /* Adjust background color if needed */
  color: #8b5e11;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid #beb9b9;
  width: 100%;
  margin-top: 20px;
}

.past-appointments {
  overflow-y: auto;
}

.past-appointments .past-appointment-list {
  text-align: center !important;
  padding: 15px;
  background-color: #fcf2d8;
  font-weight: 500;
}

.past-appointments .no-past-appointment-list {
  text-align: center !important;
  padding-top: 10px;
  background-color: #fcf2d8;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.past-appointments .past-name {
  color: #523709;
}

.past-appointments .past-date {
  color: #c89d53;
}

.past-appointments .past-status {
  margin-left: 2px;
}

.current-appointments .current-appointment-list {
  text-align: center !important;
  padding: 10px;
  background-color: #fcf2d8;
  font-size: 15px;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.current-appointments .no-current-appointment-list {
  text-align: center !important;
  background-color: #fcf2d8;
  padding-top: 10px;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.current-appointments .current-appointment-date {
  background-color: #f5f095;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.current-appointments .current-name-date {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack name and date vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text */
  width: 100%; /* Ensure it takes full width */
}

.current-appointments .current-name-date strong {
  text-decoration: underline;
  color: #523709;
}

.your-reviews {
  overflow: auto;
}

.your-reviews .your-review-list {
  text-align: center !important;
  padding: 5px;
  background-color: #fcf2d8;
  border: none;
}

.your-reviews .no-reviews-list {
  text-align: center !important;
  padding-top: 10px;
  background-color: #fcf2d8;
  border: none;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.your-reviews .review-comment {
  color: #18020c;
  font-weight: 400;
  font-size: 12px;
}

.your-reviews .review-stars {
  font-weight: 500;
  color: #8b5e11;
  font-size: 15px;
}

.your-reviews .review-stars .stars {
  color: #ffcc00;
  font-size: 15px;
}

.your-reviews .review-status {
  font-size: 12px;
  font-style: italic;
}

.your-reviews .review-status strong {
  color:#523709;
  font-weight: 500;
}

.your-reviews button {
  margin: 2px;
}

.transaction-details .user-transaction {
  text-align: center !important;
  padding: 10px;
  background-color: #fcf2d8;
  border: none;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.transaction-details .no-transactions {
  text-align: center !important;
  padding-top: 10px;
  background-color: #fcf2d8;
  border: none;
  display: flex; /* Use flexbox for the list item */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100px;
}

.transaction-details .user-transaction-id {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack name and date vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text */
  width: 100%; /* Ensure it takes full width */
  font-size: 15px;
  color: #c89d53;
  font-weight: 500;
}

.transaction-details .user-transaction-id strong {
  margin-bottom: 5px;
  text-decoration: underline;
  color: #18020c;
}

.user-appointment-header {
  color: white;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width */
}

.user-appointment-title {
  flex-grow: 1; /* Allow the title to grow and take available space */
  text-align: center; /* Center the title text */
  font-weight: 400;
  font-size: 25px;
  margin: 0; /* Remove default margins */
}

.user-appointment-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 13px 20px;
}

.user-appointment-details-box .first-details,
.second-details {
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.user-appointment-details-box .first-details strong,
.second-details strong {
  font-weight: 500;
  color: #c89d53;
}

.postmortem-title,
.particulars-title,
.admin-appointment-user {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #8b5e11;
  text-decoration: underline;
}

.appointment-death-cert {
  text-decoration: none;
  color: #18020c;
}

.transaction-border {
  display: block;
  width: 340px;
  height: 2px;
  background: #18020c;
  margin: 5px auto 20px;
}

.user-transaction-header {
  color: white;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width */
}

.user-transaction-title {
  flex-grow: 1; /* Allow the title to grow and take available space */
  text-align: center; /* Center the title text */
  font-weight: 400;
  font-size: 25px;
  margin: 0; /* Remove default margins */
}

.user-transaction-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 35px 20px;
}

.user-transaction-details-box .first-details,
.financial-summary-details {
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.user-transaction-details-box .first-details strong,
.second-details strong,
.financial-summary-details strong {
  font-weight: 500;
  color: #c89d53;
}

.user-transaction-details-box .particulars-title,
.admin-transaction-user,
.financial-summary-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #8b5e11;
  text-decoration: underline;
}

.user-transaction-details-box .second-details th {
  color: #523709;
  font-weight: 800;
  text-decoration: underline;
  padding: 0 25px;
}

.user-transaction-details-box .second-details {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: #18020c;
}

.user-dashboard-container {
  display: grid;
  grid-template-columns: 1fr 300px; /* Adjust the width of the calendar */
  gap: 20px; /* Space between the info and calendar */
}

.user-dashboard-info {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for the user info cards */
  grid-template-rows: repeat(2, auto); /* Two rows for the user info cards */
  gap: 10px; /* Space between user info cards */
}

.user-dashboard-calendar {
  height: 100%; /* Ensure the calendar takes full height */
}

.user-dashboard-calendar .dashboard-calendar {
  padding: 20px 55px;
  background-color: white;
}

.user-dashboard-calendar .calendar {
  width: 100%;
  height: 85%;
}

.user-dashboard-calendar .react-calendar__month-view__weekdays {
  font-size: 14px;
}

.user-dashboard-calendar .react-calendar__navigation span {
  color: white;
  line-height: 20px;
  font-size: 20px;
}

.user-dashboard-calendar .react-calendar__month-view__days {
  font-size: 18px;
  line-height: 30px;
}

.view-details-button {
  margin-left: 10px; /* Adjust space between dropdown and button */
  color: #007bff; /* Bootstrap primary color */
}

.view-details-button:hover {
  color: #0056b3; /* Darker shade on hover */
}

.scrollable-list {
  max-height: 300px; /* Set the height you want for the scrollable area */
  overflow-y: auto; /* Enables vertical scrolling when the content overflows */
}

.past-appointments {
  margin-bottom: 20px;
}

.transaction-details {
  margin-bottom: 20px;
}

.user-testimonial-header {
  color: white;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width */
}

.user-testimonial-title {
  flex-grow: 1; /* Allow the title to grow and take available space */
  text-align: center; /* Center the title text */
  font-weight: 400;
  font-size: 25px;
  margin: 0; /* Remove default margins */
}

.user-testimonial-details-box {
  display: block;
  border: 1px solid #4d4642;
  border-radius: 20px;
  background-color: #fcf2d8;
  margin: 10px 0;
  padding: 13px 20px;
}

.testimonial-form-control {
  background-color: #EBEBEB;
  border: 1px solid #6A6868;
  color: #4d4642;
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 14px;
  padding: 8px;
}

.update-testimonial-button {
  background-color:#f5f095;
  color: #18020c;
  border-radius: 5px;
  border: 1px solid #4d4642;
  font-size: 15px;
  margin: 0 5px;
}

.testimonial-buttons {
  display: flex;
  justify-content: center;
}

.user-testimonial-details-box .star-rating {
  text-align: center;
}
